[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "==7.0.0"
mypy = "==1.8.0"
mpremote = "==1.22.0"
rshell = "==0.0.32"
tox = "==4.14.2"
pytest = "==8.1.1"
mpy-cross = "==1.22.2"
pydoc-markdown = "*"
arrow = "==1.2.3"

[dev-packages]

[requires]
# Commented out, I don't enforce python 3.11. But, only support 3.8 and above.
# python_version = "3.10"

[scripts]

# Checks
linter = "flake8 src/utztime tests"
typechecker = "mypy src/utztime tests  --check-untyped-defs"

# build
build = "python tools/mpy_cross_all.py -o dist src"

# On Device deploy to /lib
deploy = "rshell -f tools/deploy.rsh -p"

# Tests
tests = "pytest -q tests"
utests = "rshell -f tools/utest.rsh -p"
etests = "micropython tools/run_tests_on_emulator.py"

# On Device Run the example
example = "mpremote run examples/example_tztime.py"


# Docs
generate_docs = "bash -c \"pydoc-markdown -p utztime -I src --render-toc >docs/API.md\""

